<%= erb :'/layouts/_header' %>

  <div class="main wrap">

    <h2>@: <%= @tweet.content %></h2>

    <form action="/tweets/<%=@tweet.id%>/delete" method="POST">
      <a class="btn btn-default" href="/tweets/<%= @tweet.id %>/edit" role="button">Edit Tweet</a>
      <button class="btn btn-default" value="delete" role="button">Delete Tweet</button>
    </form>

  </div>

<%= erb :'/layouts/_footer' %>
