<%= erb :'/layouts/_header' %>

<div class="main wrap">

  <% if flash.has?(:message) %>
    <div class="alert alert-success alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><%= flash[:message] %></div>
  <% end %>

  <h1>Welcome, <%= @user.username %></h1>

  <br>

  <h3>Everyones fweets below: </h3>

  <hr>

  <% Tweet.all.reverse.each do |tweet| %>
    <p class="tweet wrap"><span><%= username_by_tweet(tweet.user_id) %> said: </span><%= tweet.content %></p>
    <hr>
  <% end %>

</div>

<%= erb :'/layouts/_footer' %>