<%= erb :'/layouts/_header' %>

<div class="main wrap">

  <h1>Welcome, <%= @user.username %></h1>

  <br>

  <h3>Everyones fweets below: </h3>

  <hr>

  <% Tweet.all.each do |tweet| %>
    <p class="tweet wrap"><span><%= username_by_tweet(tweet.user_id) %> said: </span><%= tweet.content %></p>
    <hr>
  <% end %>

  <h3><a href="/users/<%= @user.slug %>">View My Fweets</a></h3>

</div>

<%= erb :'/layouts/_footer' %>